<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">

        <div class="row">

            <div class=" col-md-4">
                <div class="list-group">
                    <div class="list-group">
                        <a asp-action="UpdateUser" asp-controller="Panel" class="list-group-item list-group-item-action" aria-current="true">
                            Bilgilerimi Güncelle
                        </a>
                        <a asp-action="Index" asp-controller="Role" class="list-group-item list-group-item-action">Rol İşlemleri</a>
                        <a asp-action="UserList" asp-controller="Role" class="list-group-item list-group-item-action" >Kullanıcı İşlemleri</a>
                        <a asp-action="Index" asp-controller="Admin" class="list-group-item list-group-item-action" >Admin Sayfası</a>
                        <a asp-action="Index" asp-controller="Developer" class="list-group-item list-group-item-action" >Developer Sayfası</a>
                        <a asp-action="Index" asp-controller="Female" class="list-group-item list-group-item-action" >Kadınlar için olan sayfa</a>
                        <a asp-action="LogOut" asp-controller="Panel" class="list-group-item list-group-item-action" >Çıkış Yap</a>
                        
                    </div>
                </div>

            </div>

            <div class="col-md-8">
                @RenderBody()

            </div>

        </div>

    </div>
</body>
</html>
